
<h3>List of Categories</h3>
<table class="admin_table" cellspacing=0 , cellpadding=0 , width= 100%>
    <tr>
      <th>Name</th>
      <th>Description</th>  
      <th>Actions</th>
    </tr>
    <% @categories.each do |category|%>
     <tr>
        <td><%= category.name %></td>
        <td><%= category.description %></td>
        <td><%= link_to "Edit" , edit_category_path(category) %> | <%= link_to "Show" ,category %> |
             <%= link_to 'Delete', category , :confirm => 'Are you sure?', :method => :delete %>
        </td> 
    </tr>      
    <% end %>
      
</table>    

