<div id="form_block">
<h3>Reset Password</h3>
<%= error_messages_for :account %>
<% form_for :account do |f| %>
    <p>
        <%= f.label :password  %>
        <%= f.password_field :password %>
    </p>
    <p>
        <%= f.label :password_confirmation  %>
        <%= f.password_field :password_confirmation %>
    </p>
    <p>
        <%= f.submit "Save" %>
    </p>    
<% end %>
</div>
